


/*main button style*/

@font-face {
  font-family: 'MyWebFont';
  src:  url('./fonts/philly-sans/PhillySans-Regular.otf') format('woff2'),
        url('./fonts/philly-sans/PhillySans-Regular.otf') format('woff');
}

.main-buttons-container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.General-Controls{
  display: grid;
  grid-template-columns: [first] 480px[line2] auto[line3] 480px[end];
  grid-template-rows: [row1-start] 20% [row1-end] auto [last-line];
  height: 12rem;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

#macroControls{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: start;
  margin-left: 48px;
}







.Dropdown-control{
  text-align: center;
}

/* base styles */

:root {
  margin: 0;
  font-family: "Quicksand";
  color: rgb(169, 212, 212);
  background: linear-gradient(to right, #000000, #150018);
}

h1{
  text-align: center;

}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.navbar h1 {
  color: #c0fffe;
  font-family: 'MyWebFont';

}
.navbar .links {
  margin-left: auto;

}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: x-large;
  color: rgb(169, 212, 212);
  font-family: 'MyWebFont';
}
.navbar a:hover {
  color: #35f1ee;
}

.SideBar {
  padding: 20px;
  display: -moz-stack;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.SideBar h1 {
  color: #35bff1;
}

.SideBar .home-links {
  margin-left: auto;
  color: #35f174; 
  border-radius: 8px; 
  font-size: 1.5rem;
  font-weight: 600;
  background-color: linear-gradient(to right, #292E49, #536976);
}

.SideBar a {
  margin-left: 100px;
  text-decoration: none;
  padding: 24px;
  color: rgb(136, 209, 209);
}

.SideBar a:hover {
  color: rgb(237, 36, 129);
}

.content {
  max-width: 1300px;
  margin: 0px auto;
  padding: 10px;
  width: 100%;
}


#record {
  font-size:4rem;
  font-family: 'MyWebFont';
  margin: 2rem;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(136, 209, 209);
  cursor:pointer

}
#player {
  width:65rem;
  
  background-color:rgba(255, 255, 255, 0);
  color: rgb(136, 209, 209);
  cursor:pointer

}

#record:hover {
  font-size:4rem;
  font-family: 'MyWebFont';
  margin: 2rem;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(237, 36, 129);

}

#stop {
  font-size:4rem;
  font-family: 'MyWebFont';
  margin: 2rem;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(136, 209, 209);
  cursor:pointer

}

#stop:hover {
  font-size:4rem;
  font-family: 'MyWebFont';
  margin: 2rem;
  background-color:rgba(255, 255, 255, 0);
  color: rgb(237, 36, 129);

}




.main-controls {
  padding-bottom: 0.7rem;
  height: 170px;
}

.sound-clips {
  box-shadow: inset 0 3px 4px rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.1);
  height: calc(100% - 240px - 0.7rem);
  overflow: scroll;
}

label {
  font-family: 'myWebFont';
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
}

input[type=checkbox] {
  position: absolute;
  top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s all;
  background-color: #999;
   background-image: linear-gradient(to top right, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}